/* banner */
.banner{
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.banner img{
    width: 100%;
}


/* FRS01部分 */
.FRS01_1{
    height: 300px;
    margin-top: 50px;
    /* background-color: #000fff; */
}
.FRS02_1{
    float: left;
    width: 500PX;
}
.FRS02_1 img{
    width: 100%;
}
.FRS02_2{
    float: right;
    width: 680PX;
}
/* .FRS01_2{
    float: none;
} */
/* .FRS01_2 h3{
    float: right;
} */
.FRS03 img{
    width: 900px;
}
