/*轮播图的样式*/

.main {
    /* float:left; */
    /* display: block; */
    width: 1200px;
    height: 500px;
    margin: 30px auto;
    /* margin-left: 215px;
    margin-top: 10px; */
}

.focus {
    position: absolute;
    width: 1200px;
    height: 500px;
    /* background-color: purple; */
    overflow: hidden;
}

.focus ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 600%;
}

.focus ul li {
    float: left;
}

.arrow-l,
.arrow-r {
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 24px;
    height: 40px;
    background: rgba(0, 0, 0, .3);
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-family: 'icomoon';
    font-size: 18px;
    z-index: 2;
}

.arrow-r {
    right: 0;
}

.circle {
    position: absolute;
    bottom: 10px;
    left: 550px;
}

.circle li {
    float: left;
    width: 8px;
    height: 8px;
    /*background-color: #fff;*/
    border: 2px solid rgba(255, 255, 255, 0.5);
    margin: 0 3px;
    border-radius: 50%;
    /*鼠标经过显示小手*/
    cursor: pointer;
}
.current {
    background-color: #fff;
}
/* box核心区域 */
.box-hd{
    margin-top: 35px;
    height: 20px;
    /* background-color: blue; */
}
.box-hd h3{
    float:none;
    font-size: 20px;
    color: #494949;
    font-weight: 400;
    text-align: center;
    
}
.box-bd{
    margin-top: 20px;
    width: 1220px;
    height: 450px;
    /* background-color: skyblue; */
}
.box-bd ul li a{
    
    position: relative;
    float: left;
    display: block;
    width: 285px;
    height: 440px;
    background-color: #fff;
    margin-right: 20px;
    margin-bottom: 20px;
}
.box-bd ul li a>img{
    /* width: 100%; */
    /* position: relative; */
    display: block;
    height: 180px;
    margin: 10px auto;
}
.box-bd ul li a h3{
    font-size: 14px;
    color: #050505;
    margin: 20px 20px 18px 20px;
    font-weight: 600;
}
.box-bd ul li a p{
    font-size: 12px;
    color: #999999;
    margin-left: 20px;
}
.box-bd ul li a:hover{
    position: relative;
    top: 1px;
    left: 1px;
    box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.2);
}
/* 图片滚动部分 */

#photo-list {
    
    width: 1200px;
    height: 254px;
    margin: 50px auto;
    overflow: hidden;
    /*溢出部份隐藏*/
    border: 1px dashed #ccc;
}

#photo-list ul {
    list-style: none;
}

#photo-list li {
    float: left;
    padding-right: 9px;
}

#photo-list img {
    /* border: 1px solid #ddd; */
    /* background: #fff; */
    padding: 2px;
}